<%- include('header'); -%>
<main>
	<h2><%= myLocalize.translate("О нас")%></h2>
	<div>
		<p><samp class="text-danger font-weight-bold">Время и режим работы:</samp></p>
		<ul>
			<li>Обработка заказов ежедневно с 10:00 до 20:00. Выходной: сб-вс.</li>
			<li>Доставка: пн - пт (суббота-воскресенье по договоренности). </li>
			<li>Работа пункта самовывоза (г. Минск, ул. Кнорина 55, офис 8) с 10.00 до 19.00 (понедельник - пятница). Обязательно согласовывайте ваш визит.</li>
			<li>Прием заказов через корзину сайта работает в режиме онлайн круглосуточно.</li>
		</ul>

		<p><samp class="text-danger font-weight-bold">ВНИМАНИЕ!!! ПРИ САМОВЫВОЗЕ ДЕЙСТВУЮТ СКИДКИ!</samp></p>
		<p><samp class="text-danger font-weight-bold">ПЕРЕД ПРИЕЗДОМ, ОБЯЗАТЕЛЬНО УТОЧНЯЙТЕ НАЛИЧИЕ ТОВАРА НА ОФИСЕ И СОГЛАСОВЫВАЙТЕ ВРЕМЯ ВИЗИТА С МЕНЕДЖЕРОМ!</samp></p>

		<p><samp class="text-danger font-weight-bold">Заказ товара на ZelenFish.by</samp></p>

		<p>Простота работы рыболовного интернет магазина позволяет быстро определиться с покупкой, получить ее в ближайшее время. Заказать понравившееся изделие можно несколькими простыми, доступными способами:</p>
		
		<ul>
			<li>Наши менеджеры всегда рады слышать своих клиентов, поэтому дозвониться к ним можно в любое время по следующим контактным телефонам: <samp class="font-weight-bold">8029 859 23 90 (МТС); 8044 487 13 74 (Vel).</samp></li>
			<li>Оформление заказа через корзину путем прохождения простых операций. Следует заполнить все необходимые поля, обязательно указать обратные контактные данные. После сотрудники ZelenFish.by быстро свяжутся с каждым для предоставления подробной информации.</li>
			<li>Можно не пользоваться корзиной совсем, а быстро заказать понравившийся товар с помощью кнопки в 1 клик. Этот вариант еще более простой, очень удобный, особенно для тех, кто собирается приобрести только одну единицу.</li>
			<li>Если нет возможности самим связаться с менеджерами, можно оставить свои данные, таким образом заказать для себя звонок. Как только контактный телефон будет получен, сотрудники быстро свяжутся с каждым клиентом</li>
		</ul>

​​		<p><samp class="text-danger font-weight-bold">Обработка заказа</samp></p>
		<ul>
			<li>Желаемый товар обрабатывается в течение нескольких часов. Сотрудники компании в ближайшее время связываются с каждым клиентом, уточняют подробности заказа, утверждают его. После этого заказ доставляется в любое удобное для заказчика место.</li>
			<li>Доставка по Минску БЕСПЛАТНАЯ от 35 рублей, менее 35 рублей - стоимость доставки составит 5 рублей. Подробнее можно узнать, посетив специальный раздел оплаты и доставки.</li>
			<li>Товар в большинстве случаев доставляется в день заказа (в зависимости от загруженности курьера).</li>
			<li>Гарантия возврата денег (обмен товара) в течение 14 дней.</li>
			<li>Документ подтверждающий факт преобретения товара: чек с указанием ИП и данных о товаре</li>
		</ul>

​		<p><samp class="text-danger font-weight-bold">Акции и скидки</samp></p>
		<p>Вы найдете для себя самое необходимое в интернет магазине ZelenFish.by, сможете без проблем выбрать из широкого, разнообразного ассортимента. Благодаря множеству АКЦИЙ и СКИДОК, любой клиент останется довольным приобретением. При регулярном посещении нашего ресурса, посетители будут в курсе новшеств рыболовной отрасли, из-за постоянного появления новых товаров.</p> 
	</div>

</main> 
<%- include('footer'); -%>