<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/public/css/errorstyle.css">
</head>
<body>
	<h1>Упс... Что-то пошло не так...</h1>
	<h2>"<%= error %>"</h2>
	<p>
		Попытайтесь позже... <br />
		<a href="/">На Главную</a>
	</p>
	
	<img class="error-cat" src="/public/img/erroeCat.png">

</body>
</html>