		<footer>
            <div class="footer-info">
                <p>
                    ИП Титович М.В., УНП 790525459, <br />
                    № 0385575 горецким исполкомом 06.04.2019, <br />
                    Беларусь, г. Минск, ул. Буды 4, <br />
                    max.tit@mail.ru, моб: +375 25 953-45-01 <br /><br />
                    MetaMebelModern© 2018-2019 <br />
                </p>
                <ul>
                    <li><a href="/">Главная</a></li>
                    <li><a href="/payment">Оплата и доставка</a></li>
                    <li><a href="/pickup">Самовывоз</a></li>
                    <li><a href="/about">О нас</a></li>
                </ul>
            </div>
		</footer>
	</body>
</html>