<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MetaMebelModern</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
     <link rel="shortcut icon" href="/public/img/brain.png" type="image/png">
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="/"><img src="/public/img/logo.png" class="logo" /></a>
            <h2 class="time-job">09<sup>00</sup>-18<sup>00</sup></h2>
            <div class="phones">
                <img src="/public/img/mail.png" class="phone-img" /> maxtitovitch@mail.ru <br />
                <img src="/public/img/mts.png" class="phone-img" /> +375 33 303-91-89 <br />
                <img src="/public/img/life.png" class="phone-img" /> +375 25 404-91-89  <br />
                <img src="/public/img/velcom.png" class="phone-img" /> +375 29 505-91-89  <br />
            </div>
            <% if(user == null) { %>
              <div class="auth-space">
                  <a href="/auth">Вход</a> | <a href="/auth?reg=true">Регистрация</a>
              </div>
            <% } else { %>
              <div class="auth-space">
                  <a href="/mypage"><%= user.fullName %></a> | <a href="/logout">Выйти</a>
              </div>
            <% } %>
        </nav>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="form-inline my-2 my-lg-0" action="/search">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="/">Главная</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/payment">Оплата и доставка</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/pickup">Самовывоз</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/about">О нас</a>
                  </li>
                  <li>
                    <input class="form-control" type="search" placeholder="Поиск" aria-label="Поиск"> 
                    <button id="search" class="btn btn-outline-success" type="submit">Поиск</button>
                  </li>
                </ul>
            </form>
          </div>
        </nav>

    </header>
