<%- include('header'); -%>
<main>
	<h2>Оплата</h2>
	<div class="text-area">
		<p><samp class="text-danger font-weight-bold">ОПЛАТА</samp> интересующего товара в рыболовном интернет магазине MetaMebelModern.by осуществляется несколькими простыми и удобными способами:</p>

		<p><samp class="font-weight-bold">Первый вариант оплаты</samp> Наличными деньгами при получении заказа. Клиент с легкостью может сначала посмотреть рыболовные снасти, туристическое снаряжение, а только потом расплатиться с сотрудником. К оплате принимаются только белорусские рубли (BYN). Оплата курьеру за заказ производится только за наличные средства.</p>

		<p><samp class="font-weight-bold">Второй вариант оплаты</samp> С помощью терминала есть возможность быстро и легко расчитаться за товар клиентам, не имеющих наличные средства. Оплата через терминал возможна только в нашем офисе по адресу: г. Минск, ул. Кнорина 55, оф. 8. Мы принимаем любые виды платежных карт. </p>

		<p><samp class="font-weight-bold">Третий вариант оплаты</samp> Наложенный платеж – для желающих приобрести товар по почте. После оформления заказа, сотрудник организации обрабатывает заказ, и в течение 1-2 дней отправляет его по почте. В данном случае, вы сначала оплачиваете посылку на почте, только потом она вручается почтовыми работниками. Чек, выданный на почте, является подтверждающим документом совершения сделки. Внимание: все удилища отправляются в жестких тубусах!</p>

		<p><samp class="font-weight-bold">Четвертый вариант оплаты</samp> WEBPAY – оплата пластиковой карточкой через корзину сайта. Система предоставляет возможность оплаты карточками международных платежных систем VISA и MasterCard всех типов и БЕЛКАРТ. Для проведения оплаты с использованием банковской платежной карточки необходимо выполнить следующие действия:</p>
		<ul>
			<li>Сформировать заказ.</li>
			<li>Выбрать пункт WebPay.</li>
			<li>После нажатия кнопки "Подтверждение заказа" вы будете перенаправлены на страницу www.webpay.by.</li>
			<li>Необходимо заполнить все поля и нажать на кнопку "Оплатить".</li>
			<li>В случае успешного завершения операции, вы увидете соответствующее уведомление.</li>
		</ul>
		<p class="text-danger font-weight-bold">Внимание: перед оплатой обязательно уточните наличие товара на складе!</p>
	</div>
	<h2>Доставка</h2>
	<div>
		<p><samp class="text-danger font-weight-bold">ДОСТАВКА</samp> возможна следующими способами:</p>

		<p><samp class="font-weight-bold">Бесплатная доставка</samp> Бесплатная доставка по территории города Минска при сумме заказа от 35 рублей. При заказе менее 35 рублей - доставка составит 5 рублей. Получение в основном осуществляется в день заказа. При доставке товара за пределы города Минска, стоимость доставки определяется по согласованию сторон. Выезд курьера осуществляется при заказе товара на сумму более 20 рублей. Доставка в выходные и праздничные дни по договоренности. </p>

		<p class="text-danger font-weight-bold">Внимание: в случае отказа от товара, покупатель оплачивает стоимость доставки - 5 рублей.</p>

		<p><samp class="text-danger font-weight-bold">Самовывоз</samp> Забрать товар самостоятельно Вы сможете по адресу г. Минск, ул. Кнорина 55, пом 8. Режим работы офиса: с 10.00 до 19.00. понедельник - пятница (выходные и праздничные дни по договоренности). Перед приездом обязательно согласовывайте Ваш визит. При самовывозе действуют скидки. </p>

		<p><samp class="text-danger font-weight-bold">Белпочта</samp> Доставка в другие регионы проводится с помощью Белпочты, цена одной посылки колеблется в пределах 5 рублей. Все зависит от веса и габаритов заказываемых изделий. Получить заказ можно через 2-4 дня. Заказы более 150 рублей отправляются бесплатно! При весе посылки свыше 3кг стоимость доставки оговаривается индивидуально. Все удилища отправляются в жестких тубусах.</p>

 		<p><samp class="text-danger font-weight-bold">Экспресс-доставка по Беларуси</samp> Хотите получить товар по почте на следующий день после отправления? Вы можете воспользоваться экспресс-почтой. Цена такой услуги будет в два раза дороже обычного отправления. Посылка будет доставлена на следующий день после отправления в течение дня.</p>

		<p>Тарифы наложенного платежа (почтовое отправление по Беларуси):</p>

		<p>Конечная стоимость = цена товара + цена за пересылку (в среднем 5-6руб, оговаривается индивидуально) + % за перевод денег (по тарифам Белпочты). *Тарифы Белпочты за перевод денег:</p>

		<p>Стоимость посылки до 100 руб. включительно - 3%;</p>
		<p>Стоимость посылки от 100 руб. до 300 руб. включительно - 2%;</p>
		<p>Стоимость посылки от 300 руб. до 500 руб. включительно - 1%;</p>
		<p>Стоимость посылки от 500 руб. - 0,5%.</p>
		
		<p>На проверку товара у покупателя имеется 14 дней со дня его приобретения. Если Вы желаете обменять товар, или его вернуть, прием осуществляется по адресу: г. Минск, ул. Кнорина, 55, оф.8 (пн -пт. с 10.00 до 19.00) по предварительному согласованию с менеджерами MetaMebelModern.by по телефонам +375 (29) 859 23 90 (МТС) или +375 (44) 487 13 74 (ВЕЛК). Если это почтовое отправление, в случае отказа от товара, или его обмене, все транспортные расходы оплачиваются покупателем.</p>

		<p><samp class="font-weight-bold">Преимущество компании MetaMebelModern.by – определенный подход к нашим клиентам, который заключается в согласовании индивидуального способа доставки изделий.</samp></p>

		<p><samp class="font-weight-bold">При возникновении каких-либо вопросов Вы всегда можете позвонить по телефону +375 (29) 859 23 90 (МТС), +375 (44) 487 13 74 (Велком) или написать на почту MetaMebelModern@mail.ru.</samp></p>
	</div>
	</p>
</main> 
<%- include('footer'); -%>