<%- include('header'); -%>
<main>
	<h2>Самовывоз</h2>
	<div>
		<p><samp class="text-danger font-weight-bold">ВНИМАНИЕ!!! ПРИ САМОВЫВОЗЕ ДЕЙСТВУЮТ СКИДКИ!</samp></p>
		<p><samp class="text-danger font-weight-bold">ПЕРЕД ПРИЕЗДОМ, ОБЯЗАТЕЛЬНО УТОЧНЯЙТЕ НАЛИЧИЕ ТОВАРА НА ОФИСЕ И СОГЛАСОВЫВАЙТЕ ВРЕМЯ ВИЗИТА С МЕНЕДЖЕРОМ!</samp></p>

		<p><samp class="font-weight-bold">Пункт самовывоза</samp></p>

		<p>Наш адрес: г. Минск, ул. Кнорина 55, офис 8. Режим работы офиса: с 10.00 до 19.00, понедельник - пятница (выходные и праздничные дни по договоренности).</p>

		<p>Вход в здание находится со стороны ул. Кнорина, напротив завода Термопласт. Вход угловой, с множеством вывесок (большими буквами написано "Сеть прачечных Чайка"). Наш офис находится на первом этаже, заходите в фойе и сразу направо по коридору офис 8.</p>

		<p><samp class="font-weight-bold">Заказ товаров</samp></p>

		<p>Перед приездом в пункт самовывоза обязательно уточните наличие товара на складе по одному из телефонов: +375 (29) 859-23-90 (МТС), +375 (44) 487-13-74 (Велком) или оформите заказ на сайте любым удобным для вас способом (через корзину сайта, в 1 клик) с пометкой самовывоз.</p>

		<p><samp class="font-weight-bold">Оплата заказа</samp></p>

		<p>Оплатить заказ можете любым удобным для вас способом, которые указаны на сайте MetaMebelModern.by.</p>

		<p><samp class="font-weight-bold">Остановки общественного транспорта</samp></p>

		<p>Напротив здания остановка "Магазин Химреактивы". Здесь останавливаются троллейбусы № 29 и 61. Для того, чтобы к нам доехать от ближайшего метро, вам понадобится №61, который идет сразу от станции метро "Академия наук".</p>

		<p><samp class="text-danger  font-weight-bold">ПУНКТЫ САМОВЫВОЗА НА КАРТЕ:</samp></p>
	</div>

	<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A1cd113817b6ec6e0624d86986c7493311ec96ecb14e3f47d7081de2264c3949d&amp;width=736&amp;height=469&amp;lang=ru_RU&amp;scroll=true"></script>

</main> 
<%- include('footer'); -%>