<%- include('header'); -%>
<main>
	
	<form class="auth-form" method="post" action="/verify">
	  <legend class="text-danger font-weight-bold legend">На вашу почту было отправлено письмо. Пройдите, пожалуйсто верификацию по электронной почте</legend>
	  <div class="form-group">
	    <label for="newquery">Мне не пришло письмо:</label> <br />
	  	<button name="button" value="newquery" type="submit" class="btn btn-primary form-control">Отправить занаво</button>
	  </div>
	  <div class="form-group">
	    <label for="remove">Я ввёл не свой email:</label> <br />
	  	<button name="button" value="remove" type="submit" class="btn btn-primary form-control">Удалить акаунт</button>
	  </div>
	</form>

	

</main> 
<%- include('footer'); -%>