body {
	background-color: #f8f4ff;
	color: text;
}

.logo {
    height: 13vh;
}

.head-info {
    float: left;
}

.phone-img {
    width: 1vw;
}

.phones {
    font-size: 1.5vw;
}

.time-job {
    font-size: 3vw;    
}

.form-inline {
    width: 100%;
}

.form-inline ul li{
    margin: auto;
    width: 100%;
    border-left: 1px solid #cfd1cd;
    border-right: 1px solid #cfd1cd;
    text-align: center;
}

.form-inline ul .form-control {
    width: 58%;
}

.form-inline ul button {
    width: 40%;
    /*width: auto;*/
}

.main-tags a {
    font-size: 2vw;
}

.form-inline ul {
    width: 100%;
    border: 1px solid #cfd1cd;
    border-radius: 5px;
}

.legend {
    text-align: center;
}

.footer-info {
    border-top: 1px solid #cfd1cd;
    width: 90%;
    margin: 10px auto;
    padding-top: 20px;
    display: flex;
}


.footer-info p {
    text-align: center;
    float: left;
    width: 80%;
}

.footer-info ul {
    padding-right: 1px;
}

.main {
    margin: 20px;
}

.t-shirt {
    width: 20vw;
}

.t-shirt-one {
    /*display: -webkit-box;*/
    /*width: 25%;*/
    border: 1px solid #cfd1cd;
    border-radius: 5px; 
    float: left;   
    margin: 10px;
    text-align: center;
}

.main-new {
    display: flow-root;
}

.text-area {
    border-bottom: 1px solid #cfd1cd; 
}

main p {
    font-size: 20px;
}

main {
    margin: 20px;
}

.auth-form {
    margin: auto;
    width: 40%;
}


.big-medal {
    width: 15%;
}

.user-data-form {
    width: 40%;
    margin: auto;
}

.users-table {
    display: flow-root;
}

.big-photo {
    width: 100%;
}


.rating_block, .rating_block-static {
    width: 125px;
    height: 25px;
    /*float: right;*/
}

.rating_block input[type="radio"], .rating_block-static input[type="radio"]{
    display: none;
}

.label_rating {
    float: right;
    display: block;
    width: 25px;
    height: 25px;
    opacity: 0.7;
    background: url(http://pngimg.com/uploads/star/star_PNG41441.png) no-repeat 50% 0;
    background-size: cover;
    cursor: pointer;
}

.rating_block-static .label_rating {
    float: left !important;
    opacity: 1 !important;
}

.rating_block-static input[type="radio"]:checked ~ .label_rating {
    opacity: 0.7 !important;
}

/*.rating_block-static input[type="radio"]:checked Правило для всех следующих лейблов после выбранного инпута, чтобы звездочки как бы зафиксировались
{
    opacity: 0.1;
}*/

.rating_block .label_rating:hover, /*Правило для ховера на текущий лейбл*/
.rating_block .label_rating:hover ~ .label_rating, /*Правило для всех следующих лейблов по DOM дереву*/
.rating_block input[type="radio"]:checked ~ .label_rating /*Правило для всех следующих лейблов после выбранного инпута, чтобы звездочки как бы зафиксировались*/
{
    opacity: 1;
    /*background-position: 50% -25px;*/
}

.comment-zone {
    width: 40%;
    margin: auto;
}

.comment {
    border: 1px solid #cfd1cd;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.left-float {
    float: left;
}

.likes {
    text-align: right;
}

.liked {
    opacity: 1;
}

.no-liked {
    opacity: 0.6;
}

.modal-header {
    background-color: #007bff;
}

.edited-img {
    width: 100%;
    margin: auto;
}

.img-container {
    width: 600px;
    margin: auto;
}

.add-tag-space {
    width: 10%;
    display: inline;
    height: 100%;
}




